<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Ghost Chess | @ViewData["Title"]</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/Side-By-Side-Section.css" rel="stylesheet" />
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
    <link href="css/chess.css" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    @RenderSection("CSS", false)
</head>
<body>
    <header style="padding-bottom:50px">
        <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
            <div class="container">
                <a class="navbar-brand logo" asp-page="/Index"><i class="fas fa-chess-knight"></i>&nbsp;Ghost Chess</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="Game">Play</a>
                        </li>
                        @*<partial name="_LoginPartial" />*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2019 GhostChess
        </div>
    </footer>

    @RenderSection("Scripts", false)

</body>
</html>
